.content {
    &__header {
        margin-bottom: $spacing * 2;

        &-title {
            margin-bottom: 2rem;
        }

        &-back {
            display: block;
            font-size: 1.3rem;
            padding-bottom: 2rem;

            &::before {
                content: "\f359";
                padding-right: 0.5rem;
                font-family: $font-icons;
                font-weight: 700;
            }
        }

        &-search {
            input[type="text"] {
                border: 0;
                box-shadow: none;
                border-radius: 2rem;
                padding-left: 2rem;
                
            }
        }
    }
}

sup, .sup {
    vertical-align: middle;
    top: 0;
}