$font-general: 'Montserrat', Arial, Helvetica, sans-serif;
$base-font-size: 1.4rem; 
$font-weight-regular: 500;

$body-background: #e9ecef;
$content-background: #fff;

$header-logo-height: 4rem;
$header-padding-top: 0; 
$header-padding-right: 0; 
$header-padding-bottom: 0; 
$header-padding-left: 0; 

$footer-background: linear-gradient(#ffffff, #e9ecef);
$modal-color: #629664;

$content-padding-top: 3rem;
$content-padding-right: 3rem;
$content-padding-bottom: 3rem;
$content-padding-left: 3rem;

$welcome-padding-top: 3rem;
$welcome-padding-bottom: 5rem;

$align: center, flex-start, flex-end;

$color-primary: #566273;

// $welcome-overview-category-size: 1.7rem;
// $welcome-overview-value-size: 2.6rem;
