.help {
    position: relative;
    font-size: 1.4rem;
    margin-left: 0.5rem;

    &__trigger {
        font-size: 90%;

        &.show-icon {
            font-family: $font-icons;
            content: "\f05a";
        }

        // &::before {
        //     font-family: $font-icons;
        //     content: "\f05a";
        // }

        &:hover+.help__content {
            display: block;
        }
    }

    &__content {
        display: none;

        position: fixed;
        box-shadow: var(--box-shadow);
        box-shadow: 0 0 .4rem 2px rgba($color-black, 0.2);
        background: $color-white;
        border-radius: var(--border-radius);
        z-index: 99999;
        padding: $padding;
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
        text-align: left;
        width:max-content;
        max-width: 480px;

        &.right {
            right: auto;
            left: 0;
        }

        &.left {
            z-index: 999;
            right: 0;
            left: auto;
        }
        
        &.center {
            right: auto;
            left: -240px;
        }

        &.top {
            z-index:999;
            right:-5px;
            bottom: 20px;
        }

        &.bottom {
            z-index:999;
            right:-5px;
            top: 20px;
        }

        p {
            padding-bottom: $padding/2;
        }
        
        ul {
            margin-left: $spacing/2;

            li {
                list-style: disc;
                padding-bottom: $padding/2;
            }
        }
    }
}