.notification-bar {
    background-color: #cd1218;
    color: white;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;

    a {
        text-decoration: underline;
        color: white;
    }

    button {
        float: right;
        margin-top: -1px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        color: #e8e8e8;
        cursor: pointer;
    }
}